{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {% for slide in slides %}
        <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
      {% endfor %}
    </ol>
    <div class="carousel-inner" role="listbox">
      {% for slide in slides %}
      <div class="item {% if forloop.first %}active{% endif %}">
        <div class="carousel-slide first-slide" style="background-image:url('{{ slide.image.url }}');" alt="Slide {{ forloop.counter }}"></div>
        <div class="container">
          <div class="carousel-caption">
            <h1><span>{{ slide.title }}</span></h1>
            <p><span>{{ slide.content|safe }}</span></p>
            <p><a id="carouselButton" class="btn btn-lg btn-link" href="{{ slide.link }}{% if slide.anchor %}#{{ slide.anchor }}{% endif %}" role="button">{{ slide.link_text }}</a></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="container marketing">
    <div id="redirectDiv" class="row">
      <div class="col-lg-4 col-md-4 col-xs-4 fb">
        <a href="https://www.facebook.com/meeskoor"><img class="img-circle" src="{% static 'images/logo/facebook.png' %}" alt="Generic placeholder image" width="140" height="140"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-4 yt">
        <a href="https://www.youtube.com/user/tamklipindus"><img class="img-circle" src="{% static 'images/logo/ytlogo.png' %}" alt="Generic placeholder image" width="140" height="140"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-4 spotify">
        <a href="http://open.spotify.com/artist/4pRyf90uIqMQYfbSU3p2Ay"><img class="img-circle" src="{% static 'images/logo/spotify.png' %}" alt="Generic placeholder image" width="140" height="140"></a>
      </div>
    </div>
  </div>
	
  <div class="container-fluid" style="background-color: #f6f6f6">
    <div class="container">
		  <div id="featurette" class="row featurette">
        <div class="col-md-9 featurette-landing">
          <h2 class="featurette-heading" style="margin-top: 1em">Muusika</h2>
          <p class="lead">Koor on osalenud paljudel koorikonkurssidel ja paistab silma mitmek&uuml;lgse tegevusega nii muusika alal kui ka seltsielus. <a href="{% url 'muusika' %}">Loe edasi...</a></p>
        </div>
        <div class="col-md-3">
          <img id="featuretteImageRight" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="{% static 'images/muusika.png' %}">
        </div>
			</div>
      <div id="featurette" class="row featurette">         
  			<div class="col-md-9 col-md-push-3 featurette-landing">
          <h2 class="featurette-heading" style="margin-top: 1em">Meist</h2>
          <p class="lead">Tehnika&uuml;likooli Akadeemiline Meeskoor on Eesti suurim meeskoor, mis tegutseb alates 1945. aastast Tallinna Tehnika&uuml;likooli juures. <a href="{% url 'meist' %}">Loe edasi...</a></p>
        </div>
        <div class="col-md-3 col-md-pull-9">
          <img id="featuretteImageLeft" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="{% static 'images/meist.png' %}">
        </div>
      </div>
		  <div id="featurette" class="row featurette">
		  	<div class="col-md-9 featurette-landing">
					<h2 class="featurette-heading" style="margin-top: 1em">Kontakt</h2>
					<p class="lead">Lisaks avalikele kontsertidele oleme valmis oma piiritut laululusti jagama ka kitsamas ringis. <a href="{% url 'kontakt' %}">Loe edasi...</a></p>
				</div>
				<div class="col-md-3">
					<img id="featuretteImageRight" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="{% static 'images/kontakt.png' %}">
				</div>
			</div>
    </div>
  </div>
{% endblock content %}
