{% extends "base.html" %}
{% block og_url %}http://www.meeskoor.ee/kontakt/{% endblock %}
{% block og_title %}Tehnika&uuml;likooli Akadeemiline Meeskoor | Kontakt{% endblock %}
{% block title %}Tehnika&uuml;likooli Akadeemiline Meeskoor | Kontakt{% endblock %}
{% load staticfiles %}

{% block content %}
    <div class="container-fluid">
    <div id="jumbotron" class="jumbotron" style="background-image: url({% static 'images/navbar/kontakt.jpg' %}); background-repeat: no-repeat; background-position: center;">
        <div style="padding-left: 4em; padding-right: 4em;">
            <h1><span class="header-text">Kontakt</span></h1>
            <p><span class="header-text">Lisaks avalikele kontsertidele oleme valmis oma piiritut laululusti jagama ka kitsamas ringis.</span></p>
        </div>
    </div>

    {% for block in contact_text_blocks %}
        {% if not forloop.last %}
            {% if block.alignment == 'right' %}
                <div class="container">
                    <div id="featurette" class="row featurette">
                        <div class="col-md-9 featuretteText scrollable">
                            <h2 id="{{ block.title|lower }}" class="featurette-heading">{{ block.title }}</h2>
                            <p class="lead">{{ block.content }}</p>
                        </div>
                        <div class="col-md-3">
                            <img id="featuretteImageRight" class="featurette-image img-responsive center-block" alt="Generic placeholder image" src="{{ block.image.url }}">
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="container-fluid" style="background-color: #f6f6f6">
                    <div class="container">
                        <div id="featurette" class="row featurette">
                            <div class="col-md-9 col-md-push-3 featuretteText scrollable">
                                <h2 id="{{ block.title|lower }}" class="featurette-heading">{{ block.title }}</h2>
                                <p class="lead">{{ block.content }}</p>
                            </div>
                            <div class="col-md-3 col-md-pull-9">
                                <img id="featuretteImageLeft" class="featurette-image img-responsive center-block" alt="Generic placeholder image" src="{{ block.image.url }}">
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% for contact in contact_us %}
        <div class="container">
            <div id="featurette" class="row featurette">
                <div id="featuretteText" class="col-md-9">
                    <h2 id="votauhendust" class="featurette-heading" style="margin-top: -1px;">V&otilde;ta meiega &uuml;hendust</h2>
                    <h3>{{ contact.choir }}</h3><p>Aadress: {{ contact.address }}<br>Telefon: {{ contact.phone }}<br>E-post: <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>, <a href="mailto:{{ contact.finance_email }}">{{ contact.finance_email }}</a> (lepingud, arved jms)<br>Koduleht: <a href="{{ contact.homepage }}">{{ contact.homepage }}/</a></p><h3>{{ contact.organization }}</h3><p>Aadress: {{ contact.organization_address }}<br>Registri nr: {{ contact.registry_number }}<br>KM kohuslase nr: {{ contact.vat }}</p>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="container-fluid" style="background-color: #f6f6f6">
        {% with contact_text_blocks|last as last_block %}
        {% if block.alignment == 'right' %}
                <div class="container">
                    <div id="featurette" class="row featurette">
                        <div class="col-md-9 featuretteText scrollable">
                            <h2 id="{{ block.title|lower }}" class="featurette-heading">{{ last_block.title }}</h2>
                            <p class="lead">{{ last_block.content }}</p>
                        </div>
                        <div class="col-md-3">
                            <img id="featuretteImageRight" class="featurette-image img-responsive center-block" alt="Generic placeholder image" src="{{ last_block.image.url }}">
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="container-fluid" style="background-color: #f6f6f6">
                    <div class="container">
                        <div id="featurette" class="row featurette">
                            <div class="col-md-9 col-md-push-3 featuretteText scrollable">
                                <h2 id="{{ block.title|lower }}" class="featurette-heading">{{ last_block.title }}</h2>
                                <p class="lead">{{ last_block.content }}</p>
                            </div>
                            <div class="col-md-3 col-md-pull-9">
                                <img id="featuretteImageLeft" class="featurette-image img-responsive center-block" alt="Generic placeholder image" src="{{ last_block.image.url }}">
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
    {% endwith %}
    </div>
{% endblock content %}
