{% extends "base.html" %}
{% block og_url %}http://www.meeskoor.ee/lisaleht/{% endblock %}
{% block og_title %}Tehnika&uuml;likooli Akadeemiline Meeskoor | Lisaleht{% endblock %}
{% block title %}Tehnika&uuml;likooli Akadeemiline Meeskoor | Lisaleht{% endblock %}
{% load staticfiles %}

{% block content %}
  <div class="container">
    <div id="featurette" class="row featurette">
      <div id="featuretteText" class="col-md-12">
        <img src="{{ additional_page.image.url }}" width="100%"/><br/><br/>
        <h2 id="lisaleht" class="featurette-heading">{{additional_page.title}}</h2>
        <p style="text-align: justify; font-size: 21px;">{{additional_page.content}}</p>
      </div>
    </div>
  </div>
{% endblock content %}

