{% extends "base.html" %}
{% load i18n %}
{% block og_url %}http://www.meeskoor.ee/meist/{% endblock %}
{% block og_title %}{% trans "Tehnika&uuml;likooli Akadeemiline Meeskoor | Meist" %}{% endblock %}
{% block title %}{% trans "Tehnika&uuml;likooli Akadeemiline Meeskoor | Meist" %}{% endblock %}
{% load staticfiles %}

{% block content %}

    <div class="container-fluid">
        <div id="jumbotron" class="jumbotron" style="background-image: url({% static 'images/navbar/meist.jpg' %}); background-repeat: no-repeat; background-position: center;">
            <div style="padding-left: 4em; padding-right: 4em;">
                <h1><span class="header-text">{% trans "Meist" %}</span></h1>
                <p><span class="header-text">{% trans "Tehnika&uuml;likooli Akadeemiline Meeskoor on Eesti suurim meeskoor, mis tegutseb alates 1945. aastast Tallinna Tehnika&uuml;likooli juures." %}</span></p>
            </div>
        </div>
    </div>

    {% for block in about_us_text_blocks %}
        {% if not forloop.last %}
            {% if block.alignment == 'right' %}
                <div class="container">
                    <div id="featurette" class="row featurette">
                        <div class="col-md-9 featuretteText scrollable">
                            <h2 id="{{ block.title|lower }}" class="featurette-heading">{{ block.title }}</h2>
                            <p class="lead">{{ block.content }}</p>
                        </div>
                        <div class="col-md-3">
                            <img id="featuretteImageRight" class="featurette-image img-responsive center-block" alt="Generic placeholder image" src="{{ block.image.url }}">
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="container-fluid" style="background-color: #f6f6f6">
                    <div class="container">
                        <div id="featurette" class="row featurette">
                            <div class="col-md-9 col-md-push-3 featuretteText scrollable">
                                <h2 id="{{ block.title|lower }}" class="featurette-heading">{{ block.title }}</h2>
                                <p class="lead">{{ block.content }}</p>
                            </div>
                            <div class="col-md-3 col-md-pull-9">
                                <img id="featuretteImageLeft" class="featurette-image img-responsive center-block" alt="Generic placeholder image" src="{{ block.image.url }}">
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}

    <div class="container">
        <div id="featurette" class="row featurette">
            <div id="featuretteText" class="col-md-9">
                <h2 id="juhatus" class="featurette-heading" style="margin-top: -1px;">{% trans "Juhatus" %}</h2>
                <p class="lead"></p>
            </div>
            <div id="featuretteTable" class="col-md-12  table-responsive">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th>{% trans "Nimi" %}</th>
                        <th>{% trans "Amet" %}</th>
                        <th>{% trans "Telefon" %}</th>
                        <th>{% trans "E-post" %}</th>
                    </tr>
                    {% for management in managements %}
                    <tr>
                        <td>{{ management.name }}</td>
                        <td>{{ management.job }}</td>
                        <td>{{ management.phone }}</td>
                        <td><a href="{{ management.email }}">{{ management.email }}</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% with about_us_text_blocks|last as last_block %}
        {% if block.alignment == 'right' %}
                <div class="container">
                    <div id="featurette" class="row featurette">
                        <div class="col-md-9 featuretteText scrollable">
                            <h2 id="{{ block.title|lower }}" class="featurette-heading">{{ last_block.title }}</h2>
                            <p class="lead">{{ last_block.content }}</p>
                        </div>
                        <div class="col-md-3">
                            <img id="featuretteImageRight" class="featurette-image img-responsive center-block" alt="Generic placeholder image" src="{{ last_block.image.url }}">
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="container-fluid" style="background-color: #f6f6f6">
                    <div class="container">
                        <div id="featurette" class="row featurette">
                            <div class="col-md-9 col-md-push-3 featuretteText scrollable">
                                <h2 id="{{ block.title|lower }}" class="featurette-heading">{{ last_block.title }}</h2>
                                <p class="lead">{{ last_block.content }}</p>
                            </div>
                            <div class="col-md-3 col-md-pull-9">
                                <img id="featuretteImageLeft" class="featurette-image img-responsive center-block" alt="Generic placeholder image" src="{{ last_block.image.url }}">
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
    {% endwith %}
{% endblock content %}
