{% extends "base.html" %}
{% block og_url %}http://www.meeskoor.ee/meist/{% endblock %}
{% block og_title %}Tehnika&uuml;likooli Akadeemiline Meeskoor | Meist{% endblock %}
{% block title %}Tehnika&uuml;likooli Akadeemiline Meeskoor | Meist{% endblock %}
{% load staticfiles %}

{% block content %}

    <div class="container-fluid">
        <div id="jumbotron" class="jumbotron" style="background-image: url('../static/images/navbar/meist.jpg'); background-repeat: no-repeat; background-position: center;">
            <div style="padding-left: 4em; padding-right: 4em;">
                <h1><span class="header-text">Meist</span></h1>
                <p><span class="header-text">Tehnika&uuml;likooli Akadeemiline Meeskoor on Eesti suurim meeskoor, mis tegutseb alates 1945. aastast Tallinna Tehnika&uuml;likooli juures.</span></p>
            </div>
        </div>
    </div>
    {% for block in text_blocks %}
        {% if not forloop.last %}
            {% if block.alignment == 'right' %}
                <div class="container">
                    <div id="featurette" class="row featurette">
                        <div class="col-md-9 featuretteText scrollable">
                            <h2 id="{{ block.title|lower }}" class="featurette-heading">{{ block.title }}</h2>
                            <p class="lead">{{ block.content }}</p>
                        </div>
                        <div class="col-md-3">
                            <img id="featuretteImageRight" class="featurette-image img-responsive center-block" alt="Generic placeholder image" src="{{ block.image.url }}">
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="container-fluid" style="background-color: #f6f6f6">
                    <div class="container">
                        <div id="featurette" class="row featurette">
                            <div class="col-md-9 col-md-push-3 featuretteText scrollable">
                                <h2 id="{{ block.title|lower }}" class="featurette-heading">{{ block.title }}</h2>
                                <p class="lead">{{ block.content }}</p>
                            </div>
                            <div class="col-md-3 col-md-pull-9">
                                <img id="featuretteImageLeft" class="featurette-image img-responsive center-block" alt="Generic placeholder image" src="{{ block.image.url }}">
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    <div class="container">
        <div id="featurette" class="row featurette">
            <div id="featuretteText" class="col-md-9">
                <h2 id="juhatus" class="featurette-heading" style="margin-top: -1px;">Juhatus</h2>
                <p class="lead"></p>
            </div>
            <div id="featuretteTable" class="col-md-12  table-responsive">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th>Nimi</th>
                        <th>Amet</th>
                        <th>Telefon</th>
                        <th>E-post</th>
                    </tr>
                    <tr>
                        <td>Peeter Perens</td>
                        <td>Peadirigent</td>
                        <td>56 470 167</td>
                        <td><a href="mailto:peeterperens@gmail.com">peeterperens@gmail.com</a></td>
                    </tr>
                    <tr>
                        <td>Siim Selis</td>
                        <td>Dirigent</td>
                        <td>50 17 730</td>
                        <td><a href="mailto:siimselis@gmail.com">siimselis@gmail.com</a></td>
                    </tr>
                    <tr>
                        <td>Janno Rohelsaar</td>
                        <td>President</td>
                        <td>56 243 977</td>
                        <td>
                            <a href="mailto:jannoro@hotmail.com">jannoro@hotmail.com</a></td>
                    </tr>
                    <tr>
                        <td>Vahur Talvik</td>
                        <td>Koorivanem</td>
                        <td>53 444 415</td>
                        <td>
                            <a href="mailto:vahka@yahoo.com">vahka@yahoo.com</a></td>
                    </tr>
                    <tr>
                        <td>Andres J&auml;rv</td>
                        <td>V&auml;lissuhtleja</td>
                        <td>55 575 106</td>
                        <td><a href="mailto:andresjarv@gmail.com">andresjarv@gmail.com</a></td>
                    </tr>
                    <tr>
                        <td>Maksim Butsenko</td>
                        <td>Asjaajaja</td>
                        <td>55 532 816</td>
                        <td><a href="mailto:maksim.butsenko@gmail.com">maksim.butsenko@gmail.com</a></td>
                    </tr>
                    <tr>
                        <td>Raul Mark</td>
                        <td>Laekur</td>
                        <td></td>
                        <td><a href="mailto:meeskoor.finants@ttu.ee">meeskoor.finants@ttu.ee</a></td>
                    </tr>
                    <tr>
                        <td>Peeter Aruvald</td>
                        <td>Varahoidja</td>
                        <td>51 39 744</td>
                        <td><a href="mailto:peeter.aruvald@gmail.com">peeter.aruvald@gmail.com</a></td>
                    </tr>
                    <tr>
                        <td>Ilja Maljutenko</td>
                        <td>Kroonik</td>
                        <td>53 660 886</td>
                        <td><a href="mailto:iljamal@gmail.com">iljamal@gmail.com</a></td>
                    </tr>
                    <tr>
                        <td>Rene J&otilde;eleht</td>
                        <td>Kroonik II (turundus)</td>
                        <td>50 38 836</td>
                        <td><a href="mailto:rene.joeleht@gmail.com">rene.joeleht@gmail.com</a></td>
                    </tr>
                    <tr>
                        <td>Mart Ratas</td>
                        <td>Noodikogu hoidja</td>
                        <td>56 223 859</td>
                        <td><a href="mailto:mart.ratas@gmail.com">mart.ratas@gmail.com</a></td>
                    </tr>
                    <tr>
                        <td>Sergei Zonov</td>
                        <td>I tenori vanem</td>
                        <td>53 457 237</td>
                        <td><a href="mailto:zonov@hotmail.com">zonov@hotmail.com</a></td>
                    </tr>
                    <tr>
                        <td>Ott Lehtmets</td>
                        <td>II tenori vanem</td>
                        <td>51 64 571</td>
                        <td><a href="mailto:ott@kossuleht.ee">ott@kossuleht.ee</a></td>
                    </tr>
                    <tr>
                        <td>Aivar Koodi</td>
                        <td>Baritoni vanem</td>
                        <td>56 494 271</td>
                        <td><a href="mailto:aivar.koodi@gmail.com">aivar.koodi@gmail.com</a></td>
                    </tr>
                    <tr>
                        <td>Dan Rodionov</td>
                        <td>Bassi vanem</td>
                        <td>58 055 170</td>
                        <td><a href="mailto:danrod@hot.ee">danrod@hot.ee</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% with text_blocks|last as last_block %}
        {% if block.alignment == 'right' %}
                <div class="container">
                    <div id="featurette" class="row featurette">
                        <div class="col-md-9 featuretteText scrollable">
                            <h2 id="{{ block.title|lower }}" class="featurette-heading">{{ last_block.title }}</h2>
                            <p class="lead">{{ last_block.content }}</p>
                        </div>
                        <div class="col-md-3">
                            <img id="featuretteImageRight" class="featurette-image img-responsive center-block" alt="Generic placeholder image" src="{{ last_block.image.url }}">
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="container-fluid" style="background-color: #f6f6f6">
                    <div class="container">
                        <div id="featurette" class="row featurette">
                            <div class="col-md-9 col-md-push-3 featuretteText scrollable">
                                <h2 id="{{ block.title|lower }}" class="featurette-heading">{{ last_block.title }}</h2>
                                <p class="lead">{{ last_block.content }}</p>
                            </div>
                            <div class="col-md-3 col-md-pull-9">
                                <img id="featuretteImageLeft" class="featurette-image img-responsive center-block" alt="Generic placeholder image" src="{{ last_block.image.url }}">
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
    {% endwith %}
{% endblock content %}
