{% extends "base.html" %}
{% block og_url %}http://www.meeskoor.ee/muusika/{% endblock %}
{% block og_title %}Tehnika&uuml;likooli Akadeemiline Meeskoor | Muusika{% endblock %}
{% block title %}Tehnika&uuml;likooli Akadeemiline Meeskoor | Muusika{% endblock %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid">
    <div id="jumbotron" class="jumbotron" style="background-image:url('../static/images/navbar/muusika.jpg'); background-repeat: no-repeat; background-position: center;">
        <div style="padding-left: 4em; padding-right: 4em;">
            <h1><span class="header-text">Muusika</span></h1>
            <p><span class="header-text">Koor on osalenud paljudel koorikonkurssidel ja paistab silma mitmek&uuml;lgse tegevusega nii muusika alal kui ka seltsielus.</span></p>
        </div>
    </div>
</div>

<div class="container">
    <div id="featurette" class="row featurette">
        <div id="featuretteText" class="col-md-12">
            <h2 id="kontserdid" class="featurette-heading" style="margin-top: -1px;">Kontserdid</h2>
        </div>
        <div id="featuretteTable" class="col-md-12 table-responsive">
            <table class="table table-striped">

                <thead>
                <tr>
                    <th>Kuup&auml;ev</th>
                    <th>Kellaaeg</th>
                    <th>Kontsert</th>
                    <th>Asukoht</th>
                    <th>Osta</th>
                </tr>
                </thead>
                <tbody>
                {% for concert in concerts %}
                    <tr>
                        <td>{{ concert.date|date:"d.m.Y" }}</td>
                        <td>{{ concert.time|time:"H:i"  }}</td>
                        <td><b>{{ concert.name }}</b></td>
                        <td>{{ concert.location }}</td>
                        <td>
                            {% if concert.ticket_sales_site %}
                                <a href="{{ concert.ticket_sales_site }}" class="buy-link"><span class="glyphicon glyphicon-euro"></span></a>
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: #f6f6f6">
        <div class="container">
            <div id="featurette" class="row featurette">
                <div id="featuretteText" class="col-md-9">
                    <h2 id="repertuaar" class="featurette-heading" style="margin-top: -1px;">Repertuaar</h2>
                </div>
                <div id="featuretteTable" class="col-md-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Pealkiri</th>
                            <th>Helilooja (seadja)</th>
                            <th>S&otilde;nade autor</th>
                            <th>Kuula</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for repertory in repertorys %}
                        <tr>
                            <td><b>{{ repertory.title }}</b></td>
                            <td>{{ repertory.composer }}</td>
                            <td>{{ repertory.lyrics }}</td>
                            <td><a href="#" class="watch-link" data-toggle="modal" data-frame="iframe" data-target="#videoModal" data-theVideo="{{ repertory.listen_site }}"><span class="glyphicon glyphicon-play-circle"></span></a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>

<div class="container">
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>      </div>
                <div class="modal-body">
                    <div align="center" class="embed-responsive embed-responsive-16by9">
                        <iframe width="420" height="315" src="" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
          autoPlayModal();
        });
    </script>
{% endblock %}

