/* GLOBAL STYLES */
@font-face {
  font-family: opensans-light;
  src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: opensans-regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}

body {
  padding-bottom: 20px;
  color: #8a8a88;
  background-color: #fafafa;
  font-family: opensans-light;
}

#logIn,
#language,
#privacy,
#terms {
  color: #397fbd;
}

#logIn:hover,
#language:hover,
#privacy:hover,
#terms:hover {
  color: #1A69AF;
  text-decoration: none;
}

#navigationBar {
  border-radius: 0px;
  background-color: rgba(250, 250, 250, 1.0);
  opacity: inherit;
  margin-bottom: 0;
}

#navigationBarDiv {
  padding-left: 0.25em;
}

#carouselLink {
  color: #397fbd;
}

#carouselLink:hover {
  color: #1A69AF;
  text-decoration: none;
}

#carouselButton {
  color: #FFF;
  background-color: #DF7900;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}

#carouselButton:hover {
  background-color: #A95C00;
}

#imageDiv {
	padding-top: 0.15em;
	padding-right: 0.25em;
	float:left;
	display: inline-block;
}

#titleDiv {
  display: inline-block;
}

#title:visited  {
  color: #8a8a88;
}

#title:hover {
  color: #8a8a88;
}

#languageDiv {
	padding-top: 15px;
	padding-bottom: 15px;
}

#languageParagraph{
	text-align: right;
}

#sponsor-block {
  padding-top: 3em;
  padding-bottom: 3em;
}

#sponsor-row {
	font-size: 18px; 
	width: 100%; 
	text-align: center; 
	padding-top: 100px;
}

#sponsor-block .img-circle {
  margin-bottom: 20px;
}

#redirectDiv {
  padding-bottom: 3em;
}

#lisaleht {
  margin-bottom: 30px;
}

#featurette {
  padding-top: 30px;
  padding-bottom: 30px;
}

.featuretteText {
  padding-left: 2em;
  padding-right: 3em;
  text-align: center;
}

.featuretteText.scrollable {
  overflow-y: auto;
  max-height: 400px;
}

.featurette-landing {
  padding-right: 40px;
}

.header-text {
  font-family: opensans-regular;
  text-shadow: 0 0 10px #000000;
}

#jumbotron {
  border-radius: 0px;
  color: #ffffff;
  background-color: #777777;
  margin-top: 12px;
}

#textSpan {
  font-weight: 300;
}

#videoDiv {
  margin-left: 2em;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #fafafa;
}

.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
  background-color: #f6f6f6;
}

.btn-buy {
  margin-right: 30px;
}

/* CUSTOMIZE THE NAVBAR */
.navbar {
  background-color: #fafafa;
  border: none;
}

.navbar-toggle {
  margin-top: 14px;
  margin-right: -0.1em;
}

.navbar-inverse .navbar-toggle {
  border-color: #8a8a88;
}

.navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-toggle:hover {
  background-color: #fafafa;
  border-color: #5c5c5a;
}

.navbar-inverse .navbar-toggle:focus .icon-bar,
.navbar-inverse .navbar-toggle:hover .icon-bar {
  background-color: #5c5c5a;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #8a8a88;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
  color: #8a8a88;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a :visited{
  color: #8a8a88;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #5c5c5a;
  background-color: rgba(0, 0, 0, 0.0);
  opacity: inherit;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus {
  color: #5c5c5a;
  background-color: rgba(0, 0, 0, 0.0);
  opacity: inherit;
}

.navbar-inverse .navbar-nav>li>a:focus {
  color: #8a8a88;
}

.navbar-inverse .navbar-nav>.open>a:hover {
  background-color: #fafafa;
  color: #8a8a88;
}

.navbar-collapse {
  border: 0 none;
}

.navbar-wrapper {
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  position: relative;
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
  height: 50px;
}

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-wrapper .navbar .container {
  width: auto;
}

/* CUSTOMIZE THE CAROUSEL */
.carousel {
  height: calc(100vh - 70px);
  margin-top: 12px;
  margin-bottom: 0;
}

.carousel-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: calc(100vh - 70px);
}

.carousel-inner {
  height: calc(100vh + 20px);
}

.carousel-caption {
  z-index: 10;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 60%;
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;
  bottom: 25%;
  font-family: opensans-regular;
	padding-top: 0px;
	padding-bottom: 0px;
}

.carousel .item {
  background-color: #777;
}

.carousel-inner > .item > img {
  max-width: 100%;
  width: auto;
  height: auto;
  position:relative;
  top:50%;
  transform: translateY(-50%);
}

.carousel-indicators {
  bottom: 0;
	opacity: 0.5;
	width: 20%;
	margin-left: -10%;
}

.carousel-indicators:hover {
	opacity: 0.9;
}

/* MARKETING CONTENT */
.marketing .col-lg-4 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.img-circle {
  transition: all 1s ease;
	-webkit-filter: grayscale(0.3);
  filter: grayscale(0.3);
}

.img-circle:hover {
  transform: scale(1.05);
	-webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.col-lg-2 {
  width: 20%;
}

.watch-link,
.buy-link {
  background-color: #397fbd;
  height: 32px;
  width: 32px;
  display: block;
  border-radius: 16px;
  text-align: center;
  padding-top: 4px;
}

.watch-link:hover,
.buy-link:hover {
	background-color: #1A69AF;
}

.buy-link .glyphicon {
  font-size: 19px;
  color: #FFF;
	padding-top: 0.05em;
	padding-right: 0.1em;
}

.watch-link .glyphicon {
    font-size: 22px;
    color: #FFF;
}
/* MODAL */
.modal-header {
  border-bottom: none;
}

/* FEATURETTES */
.featurette-divider {
  margin: 70px 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  color: #397fbd;
  margin-top: 1em;
}

.featurette-image {
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 3px 12px gray;
  border-radius: 50%;
}

/* RESPONSIVE CSS */
@media (max-width: 500px) {
  .navbar-header #title {
    display: none;
  }

  .navbar-header #imageDiv:after {
    display: block;
  }
}

@media (max-width: 767px) {
	.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    padding-top: 1.10em;
	}
	
  .jumbotron {
    text-align: center;
  }

  .marketing .img-circle {
    width: 70px;
    height: 70px;
  }
  
  .carousel-caption p {
		padding-left: 20px;
		padding-right: 20px;	
  }
  
  .featurette-heading {
		text-align: center; 
  }
	
	.carousel-indicators {
    bottom: 5%;
  }
	
	.carousel {
		height: calc(100vh - 60px);
	}
	
	.carousel-inner {
		height: calc(100vh + 10px);
	}

	.carousel-slide {
		height: calc(100vh - 60px);
	}
	
	.carousel-caption {
	  padding-top: 0px;
		padding-bottom: 10px;
		max-width: 70%;
		bottom: 35%;
	}
	
	#languageParagraph{
		text-align: left;
	}
	
	#redirectDiv {
		margin-top: -70px;
		padding-bottom: 0em;
	}
	
	h1 {
		font-size: 30px;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	img {
		margin-top: 0.3em;  
  }
}

@media (min-width: 768px) {
  .navbar-wrapper {
    margin-top: 10px;
  }

  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .carousel-caption p {
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 1.4;
		padding-left: 20px;
		padding-right: 20px;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  #featuretteImageRight {
    margin-left: auto;
  }

  #featuretteImageLeft {
    margin-left: 1em;
  }

  .featuretteText {
    text-align: left;
  }

  .marketing {
    margin-top: -100px;
  }

  .carousel-indicators {
    bottom: 12%;
  }

  .carousel-caption {
    bottom: 30%;
  }

  #sponsor-block .img-circle {
    margin-bottom: 0;
  }
}
