.navbar-wrapper {
    position: relative;
}

#navigationBar  {
    margin-bottom: 0;
}

.carousel {
    margin-top: 12px;
    margin-bottom: 0;
}

.carousel-caption {
    font-family: opensans-regular;
}

.header-text {
    font-family: opensans-regular;
    text-shadow: 0 0 10px #000000;
}

.navbar-toggle {
    margin-top: 13px;
}

.language {
    position: absolute;
    right: 30px;
    top: 20px;
}
